{% extends 'ageofpirates/main.html' %}
{% load static %}
{% block content %}


  <div class="card text-center mt-3">
    <div class="card-header">
      <h5 class="card-title mt-2">Turnaj turnajů 3v3</h5>
    </div>
    <div class="card-body">

      <main>

        bude doplněno

      </main>
    </div>
    <div class="card-footer text-muted">
      <div class="row">
        <div class="col-3">
          <p class="mb-0"><strong>Tým A</strong></p>
          <p class="mb-0">Deda Mrazek</p>
          <p class="mb-0">keramdohal</p>
          <p>Wegasor</p>
        </div>
        <div class="col-3">
          <p class="mb-0"><strong>Tým B</strong></p>
          <p class="mb-0">ringo</p>
          <p class="mb-0">ladek23</p>
          <p>Punkie</p>
        </div>
        <div class="col-3">
          <p class="mb-0"><strong>Tým C</strong></p>
          <p class="mb-0">ArA_666</p>
          <p class="mb-0">Ondrej</p>
          <p>jitka</p>
        </div>
        <div class="col-3">
          <p class="mb-0"><strong>Tým D</strong></p>
          <p class="mb-0">Greya26</p>
          <p class="mb-0">BulldokCZE</p>
          <p>Bělohoubek</p>
        </div>
      </div>
    </div>
    <div class="card-body border-top text-muted">
      <p class="mb-0"><strong>Pravidla</strong></p>
      <p class="mb-0">každý tým hraje s každým týmem sérii 3 her</p>
      <p class="mb-0">za vítězství jedné hry je bod</p>
      <p class="mb-0">v případě stejného počtu bodů u dvou týmů, po odehrání všech turnajových her, se mezi nimi hraje jedna rozhodující hra, vítězný tým získá půl bodu a tým který prohraje ztrácí půl bodu - hraje se s civilizačním draftem z předchozí série mezi danými týmy (po odehrání původní série zbývá každému týmu 6 civilizací, ze kterých vybírá;  hraje se mapa Socotra)</p>
      <p class="mb-0">pokud budou až 3 týmy se stejným počtem bodů, pak se utkají nejdříve dva náhodně vylosované týmy (třetí tým nemusí hrát, už bude jiný počet bodů)</p>
      <p>vyhrává tým s nejvyšším počtem bodů</p>
      <p class="mb-0"><strong>Draft</strong></p>
      <p class="mb-0">v každé sérii tým banuje 3 civilizace druhému, pickuje 15</p>
      <p><a class="text-dark" href="https://aoe2cm.net/preset/Atqzw">https://aoe2cm.net/preset/Atqzw</a></p>
      <p class="mb-0"><strong>Mapy</strong></p>
      <p class="mb-0">každý tým nejdříve banuje 1 mapu</p>
      <p class="mb-0">každý tým pak pickuje 1 mapu</p>
      <p>týmy dále banují, dokud nezbyde poslední mapa, která se hraje jako první</p>
    </div>
    <div class="card-footer text-muted">
      <p><strong>Mapy</strong></p>
      <div class="row row-cols-md-3">
        <div class="col-sm">
          <p><a class="text-dark" href="/map/12">Arabia</a></p>
          <p><img src="http://aop.pasekrom.eu/media/maps/Arabia_a5X8ndi.png" width="200px"></img></p><br>
          <p><a class="text-dark" href="/map/13">Arena</a></p>
          <p><img src="http://aop.pasekrom.eu/media/maps/Arena.png" width="200px"></img></p><br>
          <p><a class="text-dark" href="/map/14">Nomad</a></p>
          <p><img src="http://aop.pasekrom.eu/media/maps/Nomad_E9aB6hC.png" width="200px"></img></p><br>
        </div>
        <div class="col-sm">
          <p><a class="text-dark" href="/map/29">Golden Swamp</a></p>
          <p><img src="http://aop.pasekrom.eu/media/maps/Golden_Swamp.png" width="200px"></img></p><br>
          <p><a class="text-dark" href="/map/17">Team Islands</a></p>
          <p><img src="http://aop.pasekrom.eu/media/maps/Team_Islands.png" width="200px"></img></p><br>
          <p><a class="text-dark" href="/map/47">Aquapolis</a></p>
          <p><img src="http://aop.pasekrom.eu/media/maps/Aquapolis.png" width="200px"></img></p><br>
        </div>
        <div class="col-sm">
          <p><a class="text-dark" href="/map/45">African Springs</a></p>
          <p><img src="http://aop.pasekrom.eu/media/maps/African_Springs.png" width="200px"></img></p><br>
          <p><a class="text-dark" href="/map/46">Boulder Forest</a></p>
          <p><img src="http://aop.pasekrom.eu/media/maps/Boulder_Forest.png" width="200px"></img></p><br>
          <p><a class="text-dark" href="/map/48">Maghreb</a></p>
          <p><img src="http://aop.pasekrom.eu/media/maps/Maghreb.png" width="200px"></img></p><br>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
