{% extends 'ageofpirates/main.html' %}
{% load static %}
{% block content %}

<div class="p-5 mb-5 bg-light rounded-3 mt-5">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Age of Pirates</h1>
    <p class="col-md-8 fs-4">Parta pirátů i nepirátů která občas hrává Age of Empires II - DE.</p>
  </div>
</div>

<div class="row align-items-md-stretch mt-5 mb-5">
  <div class="col-md-6">
    <div class="h-100 p-5 text-bg-dark rounded-3">
      <h2>Jsme na sítích, připoj se k nám</h2>
      <a class="btn btn-primary border-0" style="background-color: #4267b2;" href="https://facebook.com/groups/753958175468238" role="button" target="_blank"><i class="fa-brands fa-facebook"></i> Facebook</a>
      <a class="btn btn-primary border-0" style="background-color: #7289dA;" href="https://discord.gg/B4wNE3AKzU" role="button" target="_blank"><i class="fa-brands fa-discord"></i> Discord</a>
      <a class="btn btn-primary border-0" style="background-color: #6441a5;" href="https://twitch.tv/mladepiratstvo" role="button" target="_blank"><i class="fa-brands fa-twitch"></i> Twitch</a>
    </div>
  </div>
  <div class="col-md-6">
    <div class="h-100 p-5 bg-light rounded-3">
      <h2>Aktuálně</h2>
      <p>Chystáme týmový turnaj 3v3.</p>
      <a class="btn btn-outline-secondary" href="/tournaments/1">Informace k turnaji</a>
    </div>
  </div>
</div>

{% endblock %}
