{% load static %}
{% block footer %}

<footer class="pt-3 mt-4 text-white border-top">
  <p class="small"><a class="text-white" href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA 4.0</a> | <a class="text-white" href="https://github.com/pasekrom/ageofpirates" target="_blank">GitHub</a></p>
  <p class="small">Age of Empires II DE © Microsoft Corporation. Age of Pirates was created under Microsoft's <a class="text-white" href="https://www.xbox.com/en-us/developers/rules" target="_blank">"Game Content Usage Rules"</a> using assets from Age of Empires II DE, and it is not endorsed by or affiliated with Microsoft.</p>
</footer>

{% endblock %}
