{% extends 'ageofpirates/main.html' %}
{% load static %}
{% block content %}

<div class="row row-cols-1 row-cols-md-3 g-4">

  {% for object in object_list %}
  {% if not object.jmeno == "AI" %}
  <div class="col container p-3">
    <div class="card">
    <div class="user text-center">
      <div class="profile p-3">
        <img src="{{ object.img }}" class="rounded-circle" width="80">
      </div>
    </div>
    <div class="mt-0 text-center">
      <h4 class="mb-3">{{ object.jmeno }}</h4>
      <a class="btn btn-outline-secondary btn-sm mx-1" href="{{ object.statistika }}" target="_blank">Detailní statistiky</a>
      {% if not object.steam == "NULL" %}<a class="btn btn-outline-secondary btn-sm mx-1" href="{{ object.steam }}" target="_blank">Steam profil</a>{% endif %}
      <div class="d-flex justify-content-between align-items-center mt-3 px-4 mb-2">
        <div class="stats">
          <h6 class="mb-0">Hry</h6>
          <span>xxx</span>
        </div>
        <div class="stats">
          <h6 class="mb-0">W/L</h6>
          <span>xx.xx%</span>
        </div>
        <div class="stats">
          <h6 class="mb-0">Win Streak</h6>
          <span>x</span>
        </div>
        <div class="stats">
          <h6 class="mb-0">Rank</h6>
          <span>#x</span>
        </div>
      </div>
    </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}

</div>

{% endblock %}
