{% extends 'ageofpirates/main.html' %}
{% load static %}
{% block content %}

<section class="mt-5">

  <div class="container">

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="{{ object.img }}" alt="avatar"
              class="img-fluid" style="width: 150px;">
            <h5 class="my-3">{{ object.jmeno }}</h5>
            <div class="d-flex justify-content-center mb-2">
              {% if not 'AI' in player.jmeno %}<a class="btn btn-outline-secondary mx-1" href="{{ object.statistika }}" target="_blank">aoe2insights</a>{% endif %}
              {% if not object.steam == 'NULL' %}<a class="btn btn-outline-secondary mx-1" href="{{ object.steam }}" target="_blank">Steam profil</a>{% endif %}
            </div>
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-body">
            <div class="row">

              <div class="col-sm-8">
                <p class="mb-0">Odehraných her</p>
              </div>
              <div class="col-sm-4">
                <p class="text-muted mb-2">{{ object.odehrane_hry }}</p>
              </div>
              <hr>
              <div class="col-sm-8">
                <p class="mb-0">Výher</p>
              </div>
              <div class="col-sm-4">
                <p class="text-muted mb-2">{{ object.vyhry }}</p>
              </div>
              <hr>
              <div class="col-sm-8">
                <p class="mb-0">Proher</p>
              </div>
              <div class="col-sm-4">
                <p class="text-muted mb-2">{{ object.prohry }}</p>
              </div>
              <hr>
              <div class="col-sm-8">
                <p class="mb-0">Výhry / Prohry</p>
              </div>
              <div class="col-sm-4">
                <p class="text-muted mb-2">{% if not object.wl == 10000 %}0.{{ object.wl|floatformat:0 }}{% else %}1.0000{% endif %}</p>
              </div>
              <hr>
              <div class="col-sm-8">
                <p class="mb-0">ELO</p>
              </div>
              <div class="col-sm-4">
                <p class="text-muted mb-2"> xxx </p>
              </div>
              <hr>
              <div class="col-sm-8">
                <p class="mb-0">Rank</p>
              </div>
              <div class="col-sm-4">
                <p class="text-muted mb-0"> #xxx </p>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-4 mb-lg-4">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              {% for award in awards_list %}
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                {% if award.umisteni == 0 %}<i class="fas fa-award fa-lg" style="color: #396323;"></i>
                {% elif award.umisteni == 1 %}<i class="fas fa-trophy fa-lg" style="color: #d4af37;"></i>
                {% elif award.umisteni == 2 %}<i class="fas fa-trophy fa-lg" style="color: #c0c0c0;"></i>
                {% elif award.umisteni == 3 %}<i class="fas fa-trophy fa-lg" style="color: #cd7f32;"></i>
                {% elif award.umisteni >= 4 %}<i class="fas fa-award fa-lg" style="color: #396323;"></i>{% endif %}
                <p class="mb-0">
                  {% if award.umisteni == 0 %}účast{% else %}{{ award.umisteni }}. místo{% endif %} - <a class="text-dark" href="/tournaments/{{ award.url }}">{{ award.text }}</a>
                </p>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <p class="mt-2 mb-0 text-center">Nedávné hry</p>
            <ul class="list-group list-group-flush rounded-3">
              {% for match in match_list %}
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <p class="mb-0">{{ match.datum_cas|date:'Y/m/d' }}</p>
                <p class="mb-0"><a class="text-dark" href="/match/{{ match.id }}">{{ match.id }}</a></p>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-8">


        <div class="card mb-4">
          <div class="card-body">
            <div class="row">

              <div class="col-sm-3">
                <p class="mb-0">Nejhranější civilizace</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-2">{% for c in player_civs %}<a class="text-dark" href="/civ/{{ c.0 }}">{{ c.1 }}</a> ({{ c.2 }}){% if forloop.last %}{% else %}, {% endif %}{% endfor %}</p>
              </div>
              <hr>
              <div class="col-sm-3">
                <p class="mb-0">Nejčastější spojenec</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-2">{% for s in player_teammates %}<a class="text-dark" href="/player/{{ s.0 }}">{{ s.1 }}</a> ({{ s.2 }}){% if forloop.last %}{% else %}, {% endif %}{% endfor %}</p>
              </div>
              <hr>
              <div class="col-sm-3">
                <p class="mb-0">Nejčastější nepřítel</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{% for n in player_enemies %}<a class="text-dark" href="/player/{{ n.0 }}">{{ n.1 }}</a> ({{ n.2 }}){% if forloop.last %}{% else %}, {% endif %}{% endfor %}</p>
              </div>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4">Výhry / Prohry podle map</p>
                {% for x in player_map %}
                <p class="mb-1" style="font-size: .77rem;">{{ x.0 }}</p>
                <div class="progress bg-danger" style="position: relative;">
                  <div class="progress-bar bg-success" role="progressbar" style="width: {{ x.2|floatformat:'0' }}%;" aria-valuenow="{{ x.2|floatformat:'0' }}" aria-valuemin="0" aria-valuemax="100"></div>
                  <div class="left" style="position: absolute; left: 0;">&nbsp {{ x.1 }}</div>
                  <div class="right" style="position: absolute; right: 0;">{{ x.3 }} &nbsp</div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <div class="card-body">
                <p class="mb-4">Výhry / Prohry podle civilizací</p>
                {% for y in player_civ %}
                <p class="mb-1" style="font-size: .77rem;">{{ y.0 }}</p>
                <div class="progress bg-danger" style="position: relative;">
                  <div class="progress-bar bg-success" role="progressbar" style="width: {{ y.2|floatformat:'0' }}%;" aria-valuenow="{{ y.2|floatformat:'0' }}" aria-valuemin="0" aria-valuemax="100"></div>
                  <div class="left" style="position: absolute; left: 0;">&nbsp {{ y.1 }}</div>
                  <div class="right" style="position: absolute; right: 0;">{{ y.3 }} &nbsp</div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
