{% extends 'ageofpirates/main.html' %}
{% load static %}
{% block content %}

<section class="mt-3">

  <div class="card text-center mb-5">
    <div class="card-body">
      <h5 class="card-title">Nejvíc vyvážený turnaj pro všechny pirátské fanoušky legendárního Age of Empires II: DE</h5>
      <a href="/tournaments/nvtpvpflaoe2de" class="btn btn-outline-secondary">Detail turnaje</a>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Turnaj turnajů 3v3</h5>
      <a href="/tournaments/tt3v3" class="btn btn-outline-secondary">Detail turnaje</a>
    </div>
  </div>


</section>
{% endblock %}
